.form {
    display: grid;
    grid-template-columns: 1fr minmax(131px, auto);
    background-color: white;
    grid-template-areas: 
    "a a"
    "b c"
    ;
}

@media (max-width: 540px) {
    .form {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        ;
    }
}

.form__header {
    grid-area:  a;
    border-bottom: 2px solid #eee;
    padding: 20px;
    margin: 0px;
}


.form__input {
    margin: 20px;
    padding: 10px;
    grid-area: b;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form__button {
    margin: 20px 20px 20px 0px;
    padding: 10px;
    grid-area: c;
    background-color: hsl(0, 79%, 72%);
    color: white;
    border: none;
    border-radius: 5px;
}

.form__button:hover {
    background-color: hsl(0, 79%, 65%);
}

.form__button:active {
    background-color: hsl(0, 79%, 60%);
}

@media (max-width: 540px) {
    .form__button {
        margin: 0px 20px 20px 20px;
    }
}