html{
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    display: flex;
}

.main {
    flex: 1;
}
