html{
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #eee;
    display: flex;
}

.main {
    max-width: 900px;
    flex: 1;
    padding: 20px;
}
